body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* LOGIN */
  .login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f2f2f;
  }
  
  .login-box {
    background: white;
    padding: 30px;
    width: 300px;
    text-align: center;
    border-radius: 6px;
  }
  
  .login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .login-box button {
    width: 100%;
    padding: 10px;
    background: #333;
    color: white;
    border: none;
  }
  
  /* DASHBOARD */
  .dashboard {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 220px;
    background: #3a3f45;
    color: white;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 15px 0;
  }
  
  .sidebar .active {
    font-weight: bold;
  }
  
  .user {
    position: absolute;
    bottom: 20px;
  }
  
  .main {
    flex: 1;
    padding: 20px;
    background: #f4f4f4;
  }
  
  .topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  
  .card {
    background: white;
    padding: 20px;
    border-radius: 6px;
    font-weight: bold;
  }
  
  /* Couleurs */
  .purple { border-left: 5px solid purple }
  .green { border-left: 5px solid green }
  .yellow { border-left: 5px solid orange }
  .red { border-left: 5px solid red }
  .violet { border-left: 5px solid violet }
  .blue { border-left: 5px solid blue }

  .hotels-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.hotels-header button {
  padding: 8px 12px;
  border: none;
  background: #111;
  color: white;
  border-radius: 4px;
}

.hotel-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.hotel-card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.hotel-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.hotel-card h4 {
  margin: 5px 10px;
}

.hotel-card .location,
.hotel-card .price {
  font-size: 13px;
  margin: 0 10px 10px;
  color: #555;
}